<ion-header>
	<ion-toolbar>
		<ion-title *ngIf="user">Hello {{ user["name"]  }}</ion-title>
		<ion-title *ngIf="!user">Hi Guest</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

	</ion-toolbar>
</ion-header>
<ion-content>
	<div id="divBoard" style="margin-top:40px" >
		
		<ion-grid >
			<ion-row>
				<ion-col>
					<ion-grid size="auto" style="width: max-content;">
						<ion-row>
							<ion-col size="auto">
								<ion-item>
									<ion-label>Select difficult</ion-label>
									<ion-select [(ngModel)]="level" placeholder="Select One" (ionChange)="changeLevel()">
										<ion-select-option value="1">Easy</ion-select-option>
										<ion-select-option value="2">Medium</ion-select-option>
										<ion-select-option value="3">Advanced</ion-select-option>
									</ion-select>
								</ion-item>
								<br/>
							</ion-col>							
						</ion-row>
					</ion-grid>



					<div *ngFor="let row of board; let first = first; let last = last;">

						<div *ngIf="first">
							
							<ion-grid size="auto" style="width: max-content;">
								<ion-row>
									<ion-col size="auto" style="height:15px">
										<img src="assets/bordertl.gif" >
										
										<span *ngFor="let in of board[0]">
											<img src="assets/bordertb.gif" height="10" width="16" >
										</span>
										
										<img src="assets/bordertr.gif" />
									</ion-col>
								</ion-row>
								<ion-row style="background: #bdbdbd;">
									<ion-col>
										<ion-grid>
											<ion-row>
												<ion-col size="4">
													<img src="assets/borderlr.gif" height="29" width="10" >
													<a onclick="return bombCountClick()">
														<img src="assets/time0.gif" width="13" height="23" id="bomb100s" >
														<img src="assets/time1.gif" width="13" height="23" id="bomb10s" >
														<img src="assets/time0.gif" width="13" height="23" id="bomb1s" />
													</a>
												</ion-col>
												<ion-col size="4" class="ion-text-center">
													<a>
														<img src="{{happyFace}}" name="face" hspace="12" (click)="startGame()"/>
													</a>
												</ion-col>
												<ion-col size="4" class="ion-text-right">
													<img src="assets/time0.gif" width="13" height="23" id="time100s" >
													<img src="assets/time0.gif" width="13" height="23" id="time10s" >
													<img src="assets/time0.gif" width="13" height="23" id="time1s" >
													<img src="assets/borderlr.gif" height="29" width="10" />
												</ion-col>
											</ion-row>
										</ion-grid>
									</ion-col>
								</ion-row>
							</ion-grid>
							
							<ion-grid size="auto" style="width: max-content; margin-top: -8px;">
								<ion-row>
									<ion-col>
										<img src="assets/borderjointl.gif" >
										<span *ngFor="let in of board[0]">
											<img src="assets/bordertb.gif" height="10" width="16" />
										</span>
										<img src="assets/borderjointr.gif" />
									</ion-col>
								</ion-row>
							</ion-grid>

						</div>

						<ion-grid size="auto" style="width: max-content; margin-top: -3px;">
							<ion-row>
								<ion-col>

									<img src="assets/borderlr.gif" height="16" width="10" />
									<span *ngFor="let col of row">
										
										<img id="sq_{{col.x}}x{{col.y}}" *ngIf="col.status.value == 'hidden'" src="assets/blank.gif" (contextmenu)="flag(col.x, col.y)" (click)="display(col.x, col.y)"/>
										
									</span>
									<img src="assets/borderlr.gif" height="16" width="10" >
								</ion-col>
							</ion-row>
						</ion-grid>
					</div>
				
					<ion-grid *ngIf="board" size="auto" style="width: max-content; margin-top: -8px;">
						<ion-row>
							<ion-col>
							
								<img src="assets/borderbl.gif" >
								
								<span *ngFor="let in of board[0]">
									<img src="assets/bordertb.gif" height="10" width="16" >
								</span>

								<img src="assets/borderbr.gif" />
							</ion-col>
						</ion-row>
					</ion-grid>

				</ion-col>
			</ion-row>
		</ion-grid>
						
	</div>

	<ion-grid style="margin-top:20px">
		<ion-row>
			<ion-col size="6">
				<ion-card>
					<ion-card-header>
						<ion-card-subtitle>Games Played</ion-card-subtitle>
						<ion-card-title class="ion-text-center">{{played}}</ion-card-title>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="6">
				<ion-card>
					<ion-card-header>
						<ion-card-subtitle>Winned</ion-card-subtitle>
						<ion-card-title class="ion-text-center">{{winned}}</ion-card-title>
					</ion-card-header>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="6">
				<ion-card>
					<ion-card-header>
						<ion-card-subtitle>Loosed</ion-card-subtitle>
						<ion-card-title class="ion-text-center">{{loosed}}</ion-card-title>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="6">
				<ion-card>
					<ion-card-header>
						<ion-card-subtitle>Abandoned</ion-card-subtitle>
						<ion-card-title class="ion-text-center">{{abandoned}}</ion-card-title>
					</ion-card-header>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="6">
				<ion-card>
					<ion-card-header>
						<ion-card-subtitle>In Progress</ion-card-subtitle>
						<ion-card-title class="ion-text-center">{{inProgress}}</ion-card-title>
					</ion-card-header>
				</ion-card>
			</ion-col>
			
		</ion-row>
	</ion-grid>


</ion-content>